<h1>AWS Deploy</h1> 
<h3><%= $aws_deploy["project_name"]%></h3>
<hr>

<%if @exist_config %>


  <% if flash[:message] %>
    <%= render :partial => "messages"%>

  <% else %>
    <%= render :partial => "environments"%>

  <% end %>



<% else %>
  <%= render :partial => "config_file_not_found" %>

<% end %>

<%= render :partial => "notification" %>
